.selected-text {
  background-color: #fff;
  padding: 6px 20px;
  border-bottom: 1px solid #d0d0d0;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.select-options {
  position: absolute;
  width: 100%;
  border: 1px solid#d0d0d0;

  border-top: none;
  border-bottom: none;
}

li {
  list-style-type: none;
  padding: 6px 20px;
  background: #fff;
  border-bottom: 1px solid #d0d0d0;
  cursor: pointer;
}

li:hover {
  background-color: #fff;
  color: #000;
}
